<div class="grid grid-cols-1 mt-3 ml-8 md:grid-cols-5 md:gap-8">
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl hover:shadow-2xl transform hover:-translate-y-1 transition duration-300 ease-in-out">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
</div>
