<div *ngIf="isLoading" class="flex justify-center items-center h-screen">
  <div class="flex flex-col gap-4 w-52">
    <div class="flex gap-4 items-center">
      <div class="skeleton w-16 h-16 rounded-full shrink-0"></div>
      <div class="flex flex-col gap-4">
        <div class="skeleton h-4 w-20"></div>
        <div class="skeleton h-4 w-28"></div>
      </div>
    </div>
    <div class="skeleton h-32 w-full"></div>
  </div>
</div>

<div *ngIf="!isLoading" class="grid grid-cols-1 mt-3 ml-2 md:grid-cols-5 md:gap-8">
  <div *ngFor="let product of products" class="relative card bg-base-100 shadow-xl transition duration-300 ease-in-out transform hover:bg-gray-200 hover:shadow-2xl" (click)="storeProduct(product)">
    <div class="icon-container" (click)="saveProductToLocalStorage(product); $event.stopPropagation();" >
      <label class="swap swap-flip text-3xl">
        <input type="checkbox" />
        <div class="swap-on">🖤</div>
        <div class="swap-off">🤍</div>
      </label>
    </div>
    <figure><img [src]="product.image" alt="{{product.productname}}"/></figure>
    <div class="card-body">
      <h2 class="card-title">{{product.productname}}</h2>
      <p class="text-l text-center">Case of {{product.bottles}} bottles</p>
      <p class="text-4xl text-center">${{product.price}}/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
</div>
