<div class="grid grid-cols-1  mt-3 ml-8 md:grid-cols-3">
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm ">per jar</span></p>

    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 23 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm ">per jar</span></p>

    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="./assets/item5.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Crystal Geyser Natural Alpine Spring Water, 8 Fl Oz</h2>
      <p class="text-l text-center">Case of 12 bottles</p>
      <p class="text-4xl text-center">$3/-<span class="text-sm ">per jar</span></p>
     
    </div>
  </div>
</div>
