<div role="tablist" class="tabs tabs-bordered">
  <!-- Current Order Tab -->
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Current Order" checked (click)="selectOrder('current')" />
  <div role="tabpanel" class="tab-content p-10">
    <ng-container *ngIf="orderDetails.length > 0">
      <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="products?.image" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{products?.productname}}</h5>
          <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Price (per unit): ${{products?.price}}</p>
          <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Total Price: ${{orderDetail?.price}}</p>
          <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Units: {{orderDetail?.unit}}</p>
          <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Payment Method: {{orderDetail?.payment_method}}</p>
          <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:green">Expected Delivery: {{orderDetail?.expected_delivery}}</p>
        </div>
      </a>
    </ng-container>
    <p *ngIf="orderDetails.length === 0" class="text-gray-700 dark:text-gray-400">No order details available</p>
  </div>

  <!-- Delivered Order Tab -->
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Delivered Order" (click)="selectOrder('delivered')" />
  <div role="tabpanel" class="tab-content p-10">
    <ng-container *ngIf="orderDetails.length > 0">
      <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="orderDetails[0]?.product?.image" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{orderDetails[0]?.product?.productname}}</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Price: ${{orderDetails[0]?.product?.price}}</p>
        </div>
      </a>
    </ng-container>
    <p *ngIf="orderDetails.length === 0" class="text-gray-700 dark:text-gray-400">No order details available</p>
  </div>

  <!-- Canceled Order Tab -->
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Canceled Order" (click)="selectOrder('canceled')" />
  <div role="tabpanel" class="tab-content p-10 ">
    <ng-container *ngIf="orderDetails3 && orderDetails3.length > 0; else noCancelledOrders">
      <div *ngFor="let cancelledOrder of orderDetails3" class="mt-2">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="cancelledOrder.product?.image" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{cancelledOrder.product?.productname}}</h5>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Price (per unit): ${{cancelledOrder.product?.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Total Price: ${{cancelledOrder.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Units: {{cancelledOrder.unit}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Payment Method: {{cancelledOrder.payment_method}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:red">Cancellation Date: {{cancelledOrder.cancellation_date | date}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:red">Cancellation Reason: {{cancelledOrder.cancellation_reason}}</p>
          </div>
        </a>
      </div>
    </ng-container>
    <ng-template #noCancelledOrders>
      <p class="text-gray-700 dark:text-gray-400">No cancelled orders available</p>
    </ng-template>
  </div>
</div>
