
<div role="tablist" class="tabs tabs-bordered">

  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Current Order" checked  />
  <div role="tabpanel" class="tab-content p-10 ">

    <div class="overflow-auto h-96">
      <ng-container *ngIf="orderDetails && orderDetails.length > 0; else noCurrentOrders">
        <div *ngFor="let currentOrder of orderDetails" class="mt-2">
          <a class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="currentOrder.product?.image" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{currentOrder.product?.productname}}</h5>
              <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Price (per unit): ${{currentOrder.product?.price}}</p>
              <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Total Price: ${{currentOrder.price}}</p>
              <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Units: {{currentOrder.unit}}</p>
              <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Payment Method: {{currentOrder.payment_method}}</p>
              <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:green">Expected Date: {{currentOrder.expected_delivery|date}}</p>
              <button class="btn" (click)="canceledOrder(currentOrder.id,currentOrder.product_id,currentOrder.price,currentOrder.unit,currentOrder.expected_delivery,currentOrder.payment_method)">Cancel order</button>
            </div>
          </a>

        </div>
      </ng-container>
      <ng-template #noCurrentOrders>
        <p class="text-gray-700 dark:text-gray-400">No Current orders available</p>
      </ng-template>
    </div>

  </div>

  <!-- Delivered Order Tab -->
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Delivered Order" />
  <div role="tabpanel" class="tab-content p-10 ">
    <ng-container *ngIf="orderDetails2 && orderDetails2.length > 0; else noDeliveredOrders">
      <div *ngFor="let deliveredOrder of orderDetails2" class="mt-2">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="deliveredOrder.product?.image" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{deliveredOrder.product?.productname}}</h5>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Price (per unit): ${{deliveredOrder.product?.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Total Price: ${{deliveredOrder.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Units: {{deliveredOrder.unit}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Payment Method: {{deliveredOrder.payment_method}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="font-weight: bold;">Expected Date: {{deliveredOrder.expected_delivery}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="font-weight: bold; color: green;">Delivered Date: {{deliveredOrder.delivered_date | date}}</p>
          </div>
        </a>
      </div>
    </ng-container>
    <ng-template #noDeliveredOrders>
      <p class="text-gray-700 dark:text-gray-400">No orders available</p>
    </ng-template>
  </div>

  <!-- Canceled Order Tab -->
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Canceled Order"  />
  <div role="tabpanel" class="tab-content p-10 ">
    <ng-container *ngIf="orderDetails3 && orderDetails3.length > 0; else noCancelledOrders">
      <div *ngFor="let cancelledOrder of orderDetails3" class="mt-2">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="cancelledOrder.product?.image" alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{cancelledOrder.product?.productname}}</h5>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Price (per unit): ${{cancelledOrder.product?.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Total Price: ${{cancelledOrder.price}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Units: {{cancelledOrder.unit}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400">Payment Method: {{cancelledOrder.payment_method}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:red">Cancellation Date: {{cancelledOrder.cancellation_date | date}}</p>
            <p class="mb-3 font-normal font-bold text-gray-700 dark:text-gray-400" style="color:red">Cancellation Reason: {{cancelledOrder.cancellation_reason}}</p>
          </div>
        </a>
      </div>
    </ng-container>
    <ng-template #noCancelledOrders>
      <p class="text-gray-700 dark:text-gray-400">No cancelled orders available</p>
    </ng-template>
  </div>
</div>
