<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li>
          <a>Hover</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>

        <li><a routerLink="/our-sources" routerLinkActive="active">Our Sources</a></li>
        <li><a routerLink="/sustainability" routerLinkActive="active">Sustainability</a></li>
        <li><a routerLink="/our-promises" routerLinkActive="active">Our Promises</a></li>
        <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
      </ul>
    </div>
    <a routerLink="/home" class="btn btn-ghost text-xl">CrystalGeyser</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/our-sources" routerLinkActive="active">Our Sources</a></li>
      <li><a routerLink="/sustainability" routerLinkActive="active">Sustainability</a></li>
      <li><a routerLink="/our-promises" routerLinkActive="active">Our Promises</a></li>
      <li><a routerLink="/careers"routerLinkActive="active">Careers</a></li>
   
    </ul>
  </div>
  <div class="navbar-end">
    <div class="avatar">
      <div class="w-8 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </div>
  </div>
</div>
