<!-- all-products.component.html -->
<div *ngIf="isLoading" class="flex justify-center items-center h-screen">
  <span class="loading loading-dots loading-md"></span>
</div>

<div *ngIf="!isLoading" class="grid grid-cols-1 mt-3 ml-2 md:grid-cols-5 md:gap-8">
  <div *ngFor="let product of products" class="card bg-base-100 shadow-xl transition duration-300 ease-in-out transform hover:bg-gray-200 hover:shadow-2xl" (click)="storeProduct(product)">
    <figure><img [src]="product.image" alt="{{product.productname}}"/></figure>
    <div class="card-body">
      <h2 class="card-title">{{product.productname}}</h2>
      <p class="text-l text-center">Case of {{product.bottles}} bottles</p>
      <p class="text-4xl text-center">${{product.price}}/-<span class="text-sm">per jar</span></p>
    </div>
  </div>
</div>
