<div role="tablist" class="tabs tabs-bordered">
  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Active Subscription" />
  <div role="tabpanel" class="tab-content p-10">Active Subscription</div>

  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Paused Subscription" checked />
  <div role="tabpanel" class="tab-content p-10">Paused Subscription</div>

  <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Canceled Subscription" />
  <div role="tabpanel" class="tab-content p-10">Canceled Subscription</div>
</div>
